<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Developed at Purdue University, Filelocker allows you to share files with other people both inside and outside of your organization. It is a temporary and secure storage system for sharing files and data."/> 
    <meta name="keywords" content="filelocker, encryption, security application, enterprise, auditing, secure storage, information security, online storage, file sharing, share files, online backup, sharing, collaboration" /> 
    <title>Filelocker</title>
	<link rel="stylesheet" href="$fl.rootURL/css?style=filelocker" />
	<link rel="stylesheet" href="$fl.rootURL/css?style=jquery-ui" />
	<link rel="shortcut icon" href="$fl.rootURL/static/images/favicon.ico" />
</head>
<body class="greyBackground">
<div id="background">
  <div id="wrapper_all">
    <!--header-->
    <div id="wrapper_header">
        <div class="logo"><a href="$fl.rootURL"><img src="$fl.rootURL/static/images/logos/filelocker_logo.png" alt="Filelocker" /></a></div>
    </div>
    
    <!--content area-->
    <div id="statusMessage" class="ui-widget ui-state-error ui-corner-all hidden"></div>
    <div id="wrapper_2col">
        <div id="wrapper_col1">
            <div class="section_title">
                <h1 class="files_title">Logout</h1>
            </div>
            <div class="login">
                <h1>Single Sign-on session ended</h1>
                <p>Single sign-on session ended.  You have now fully logged out of Filelocker and Single Sign-on services.<br />
                Click <a href="$fl.rootURL">here</a> to return to the Filelocker login screen</p>
            </div>
        </div>

        <div id="wrapper_col2">
            <div class="text_col2"><a href="$fl.orgURL" target="_blank" title="Take me to the $fl.orgName home page"><img src="$fl.rootURL/static/images/logos/logo.gif" alt="$fl.orgName" class="orgLogo" /></a>
            <img src="$fl.rootURL/static/images/page_elements/horizontal_rule.gif" alt="" class="horizontal_rule" />
                <p><span class="strong">Filelocker</span> allows you to share files with other people both inside and outside of $fl.orgName. It is a temporary and secure storage system for sharing files and data.</p>
                <img src="$fl.rootURL/static/images/page_elements/horizontal_rule.gif" alt="" class="horizontal_rule" />
            </div>
        </div>
    </div><!--End Wrapper 2 col - Content Area -->
<div id="footer">$footerText</div>
</div> <!-- End Wrapper All -->
</div> <!-- End Background -->
</body>
</html>