#*
Other available variables:
$varDict['org_url'] - Home URL of the organization
$varDict['org_name'] - Organization name
$varDict['filelockerURL'] - Root URL of this Filelocker instance
*#
To: $varDict['recipient']
From: $sender
Subject: A file you have shared on Filelocker has been downloaded

$varDict['downloadUserName'] ($varDict['downloadUserId']) has downloaded the following file from you on Filelocker:

$varDict['fileName']

If you would no longer like to be notified when this file is downloaded, please log in to Filelocker and change the settings for this file.