#set $config = $cherrypy.request.app.config['filelocker']
<!--footer area-->

    </div><!--End Wrapper 2 col - Content Area -->
    
<!-- Begin Lightboxen -->
<div id="uploadBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_small">
            <form action="" name="form" id="uploadForm">
                <input type="text" style="width: 0; height: 0; top: -100px; position: absolute;"/><!-- jQuery UI dialogs autofocus to the first element. -->
                <div>
                    #if $AccountController.user_has_permission($user, "expiration_exempt")
                    <label for="expiration">Expiration date (you are expiration exempt):</label>
                    <input type="text" name="expiration" id="uploadExpiration" class="dateFuture" value="$defaultExpiration.strftime('%m/%d/%Y')" />
                    #else
                    <label for="expiration">Expiration date:</label>
                    <input type="text" name="expiration" id="uploadExpiration" class="dateExpire" value="$defaultExpiration.strftime('%m/%d/%Y')" />
                    #end if
                </div>
                <div>
                    <label for="fileNotes">Add notes to file:</label>
                    <textarea name="fileNotes" id="uploadFileNotes" cols="38" rows="3" onKeyUp="javascript:Utility.limitCharacters('upload');"></textarea>
                    <div id="uploadNotesInfo"></div>
                </div>
                <div>
                    <label for="uploadScanFile">Other options:</label>
                    <input type="checkbox" name="scanFile" id="uploadScanFile" checked="checked" /><span onclick="javascript:Utility.check('uploadScanFile');">Scan for viruses?</span>
                </div>
                #if $AccountController.user_has_permission($user, "admin")
                <div>
                    <input type="checkbox" name="systemUpload" id="systemUpload" /><span onclick="javascript:Utility.check('systemUpload');">System upload?</span>
                </div>
                #end if
                #if $config['geotagging']
                <div id="uploadGeolocationOption">
                    <input type="checkbox" name="uploadGeolocation" id="uploadGeolocation" onClick="javascript:setGeoData();" /><span onclick="javascript:Utility.check('uploadGeolocation');javascript:setGeoData();">Geotag this file upload?</span> <a href="javascript:Help.prompt('help_geotag');" class="helpLink">What's this?</a>
                </div>
                #end if
                <div>
                    <div class="button" id="uploadButton" class="uploadButton"></div>
                </div>
                <div class="clear"></div>
            </form>
        </div>
    </div>
</div>

<div id="uploadRequestBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_small">
            <form action="" name="form" id="uploadRequestForm">
                <input type="text" style="width: 0; height: 0; top: -100px; position: absolute;"/><!-- jQuery UI dialogs autofocus to the first element. -->
                <div>
                    <label for="uploadRequestExpiration">Request expiration date:</label>
                    <input type="text" name="uploadRequestExpiration" id="uploadRequestExpiration" class="dateFuture" value="$defaultExpiration.strftime('%m/%d/%Y')"/>
                </div>
                <div>
                    <label for="uploadRequestEmail">Send request to email:</label>
                    <input type="text" name="uploadRequestEmail" id="uploadRequestEmail" size="50" maxlength="50" />
                </div>
                <div>
                    <label for="uploadRequestMessage">Add message to email:</label>
                    <textarea name="uploadRequestMessage" id="uploadRequestMessage" cols="38" rows="3" onKeyUp="javascript:Utility.limitCharacters('upload_request');"></textarea>
                    <div id="uploadRequestNotesInfo"></div>
                </div>
                <div>
                    <label for="uploadRequestShareType">Other options:</label>
                    <input type="checkbox" id="uploadRequestShareType" onclick="javascript:UploadRequest.toggleType();" /><span onclick="javascript:Utility.check('uploadRequestShareType');javascript:UploadRequest.toggleType();">Allow multiple file uploads for this request (requires password)?</span>
                </div>
                <div>
                    <input type="checkbox" id="uploadRequestScanFile" checked="checked" /><span onclick="javascript:Utility.check('uploadRequestScanFile');">Force a virus scan for uploaded files?</span>
                </div>
                <div>
                    <input type="checkbox" id="uploadRequestPasswordSelector" onclick="javascript:UploadRequest.togglePassword();"/><span onclick="javascript:Utility.check('uploadRequestPasswordSelector');javascript:UploadRequest.togglePassword();">Password protect this upload request?</span>
                    <span id="uploadRequestSelector" style="display:none">
                        <label for="uploadRequestPassword">Password:</label>
                        <input type="password" name="uploadRequestPassword" id="uploadRequestPassword" />
                        <label for="uploadRequestPasswordConfirm">Confirm Password:</label>
                        <input type="password" name="uploadRequestPasswordConfirm" id="uploadRequestPasswordConfirm" />
                    </span>
                </div>
                <div>
                    <div class="button"><a href="javascript:UploadRequest.create();" title="Create an upload request" class="uploadRequestButton"><span>Create Request</span></a></div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="uploadRequestLinkBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_small">
            <div class="url_box" id="uploadRequestURL"></div>
        </div>
    </div>
</div>

<div id="publicShareLinkBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_small">
            <div class="url_box" id="publicShareURL"></div>
        </div>
    </div>
</div>

<div id="publicShareBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_small">
            <form>
            <input type="text" style="width: 0; height: 0; top: -100px; position: absolute;"/><!-- jQuery UI dialogs autofocus to the first element. -->
            <div>
                <label for="publicShareExpiration">Expiration date:</label>
                <input type="text" value="" class="dateCustom" id="publicShareExpiration" />
            </div>
            <div>
                <label for="publicShareEmail">Email addresses entered below (comma separated) will receive a link to this file via email:</label>
                <input type="text" name="publicShareEmail" id="publicShareEmail" style="width: 400px;"/>
            </div>
            <div>
                <label for="publicShareType">Other options:</label>
                <input type="checkbox" id="publicShareType" onclick="javascript:Share.Public.toggleType();" /><span onclick="javascript:Utility.check('publicShareType');javascript:Share.Public.toggleType();">Allow multiple downloads (requires password)?</span>
            </div>
            <div>
                <input type="checkbox" id="publicSharePasswordSelector" onclick="javascript:Share.Public.TogglePassword();"/><span onclick="javascript:Utility.check('publicSharePasswordSelector');javascript:Share.Public.togglePassword();">Password protect this public share?</span>
                <span id="publicShareSelector" style="display:none">
                    <label for="publicSharePassword">Password:</label>
                    <input type="password" name="publicSharePassword" id="publicSharePassword" />
                    <label for="publicSharePasswordConfirm">Confirm Password:</label>
                    <input type="password" name="publicSharePasswordConfirm" id="publicSharePasswordConfirm" />
                </span>
            </div>
            <input type="hidden" id="publicShareFileId" value=""/>
            <input type="hidden" id="publicShareDestination" value=""/>
            <div>
                <label for="publicShareButton">By clicking "Share" below, you will make this file publicly accessible at the generated URL.</label>
                <div class="button"><a href="javascript:Share.Public.create()" title="Share this file publicly" class="shareButton" id="publicShareButton"><span>Share</span></a></div>
            </div>
            </form>
        </div>
    </div>
</div>

<div id="userCreateBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_small">
            <div id="userCreateTabs">
                <ul>
                    <li><a href="#createSingle">Single User Creation</a></li>
                    <li><a href="#createMultiple">Bulk User Creation</a></li>
                </ul>
                <div id="createSingle">
                    <form action="" name="form" id="singleUserCreateForm">
                        <div>
                            <label for="createUserId">User ID:</label>
                            <input type="text" name="createUserId" id="createUserId" size="10" value="" />
                        </div>
                        <div>
                            <label for="createUserFirstName">First name:</label>
                            <input type="text" name="createUserFirstName" id="createUserFirstName" size="10" value="" />
                        </div>
                        <div>
                            <label for="createUserLastName">Last name:</label>
                            <input type="text" name="createUserLastName" id="createUserLastName" size="10" value="" />
                        </div>
                        <div>
                            <label for="createUserQuota">Quota (in MB):</label>
                            <input type="text" name="createUserQuota" id="createUserQuota" size="10" value="" />
                        </div>
                        <div>
                            <label for="createUserEmail">Email:</label>
                            <input type="text" name="createUserEmail" id="createUserEmail" size="10" value="" />
                        </div>
                        <div>
                            <label for="createUserPassword">Password:</label>
                            <input type="password" name="createUserPassword" id="createUserPassword" size="10" value="" />
                        </div>
                        <div>
                            <label for="createUserPasswordConfirm">Confirm password:</label>
                            <input type="password" name="createUserPasswordConfirm" id="createUserPasswordConfirm" size="10" value="" />
                        </div>
                        <br />
                        <div>
                            <input type="checkbox" id="createUserRole"/><span onclick="javascript:Utility.check('createUserRole');">Is this user a role?</span>
                        </div>
                        <div>
                            <div class="button" id="createUserButton"><a href="javascript:Admin.User.create();" title="Create a new Filelocker user" class="saveButton"><span>Create User</span></a></div>
                        </div>
                        <div class="clear"></div>
                    </form>
                </div>
                <div id="createMultiple">
                    <form action="" name="form" id="bulkUserCreateForm">
                        <div>
                            <label for="bulkCreateUserQuota">Bulk user quota (in MB):</label>
                            <input type="text" name="bulkCreateUserQuota" id="bulkCreateUserQuota" size="10" value="" />
                        </div>
                        <div>
                            <label for="bulkCreateUserPassword">Bulk user password:</label>
                            <input type="password" name="bulkCreateUserPassword" id="bulkCreateUserPassword" size="10" value="" />
                        </div>
                        <div>
                            <label for="bulkCreateUserPasswordConfirm">Confirm bulk user password:</label>
                            <input type="password" name="bulkCreateUserPasswordConfirm" id="bulkCreateUserPasswordConfirm" size="10" value="" />
                        </div>
                        <div>
                            <label for="bulkCreateUserPermissions">Bulk user permissions:</label>
                            <div id="bulkCreateUserPermissions"></div>
                        </div>
                        <br />
                        <div>
                            <label for="bulkCreateUserUploadButton">CSV file of user data (User Id, First Name, Last Name, Email Address):</label>
                            <div class="button" id="bulkCreateUserUploadButton" class="uploadButton"></div>
                            <div class="hidden" id="bulkCreateUserFileList"></div>
                        </div>
                        <div class="clear"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="userUpdateBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_small">
            <form action="" name="form" id="userUpdateForm">
                <div>
                    <label for="updateUserQuota">Quota (MB):</label>
                    <input type="text" name="updateUserQuota" id="updateUserQuota" size="10" value="" />
                </div>
                <div>
                    <label for="updateUserFirstName">First Name:</label>
                    <input type="text" name="updateUserFirstName" id="updateUserFirstName" size="10" value="" />
                </div>
                <div>
                    <label for="updateUserLastName">Last Name:</label>
                    <input type="text" name="updateUserLastName" id="updateUserLastName" size="10" value="" />
                </div>
                <div>
                    <label for="updateUserEmail">Email:</label>
                    <input type="text" name="updateUserEmail" id="updateUserEmail" size="10" value="" />
                </div>
                <div>
                    <label for="updateUserPassword">New Password:</label>
                    <input type="password" name="updateUserPassword" id="updateUserPassword" size="10" value="" />
                </div>
                <div>
                    <label for="updateUserConfirmPassword">Confirm Password:</label>
                    <input type="password" name="updateUserConfirmPassword" id="updateUserConfirmPassword" size="10" value="" />
                </div>
                <br />
                <div>
                    <input type="checkbox" id="updateUserRole"/><span onclick="javascript:Utility.check('updateUserRole');">Is this user a role?</span>
                </div>
                <input type="hidden" id="updateUserId" value=""/>
                <div>
                    <div class="button" id="updateUserButton"><a href="javascript:Admin.User.update();" title="Save changes to this Filelocker user" class="saveButton"><span>Update User</span></a></div>
                </div>
                <div class="clear"></div>
            </form>
        </div>
    </div>
</div>

<div id="userUpdatePermissionsBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_small">
            <table class="file_table" id="userPermissionTableSorter">
            <thead>
                <tr>
                    <th class="userPermissionCol pseudoLink">Permission ID</th>
                    <th class="userPermissionDescriptionCol pseudoLink">Description</th>
                    <th class="userPermissionInheritedCol pseudoLink">Inherited From</th>
                </tr>
                <tr>
                    <td colspan="3" class="dotted"></td>
                </tr>
            </thead>
            <tbody id="permissionsTable">
            </tbody>
            </table>
        </div>
    </div>
</div>

<div id="userHistoryBox" class="hidden" >
    <div class="popup_wrapper">
        <div class="popup_large">
            <input type="text" style="width: 0; height: 0; top: -100px; position: absolute;"/><!-- jQuery UI dialogs autofocus to the first element. -->
            <input type="hidden" id="userHistoryCurrentUser" />
            <label for="userHistoryStartDate">Start Date:</label>
            <input type="text" id="userHistoryStartDate" class="datePast" value="$startDateFormatted.strftime('%m/%d/%Y')" onselect="this.value=''" onchange="javascript:Admin.User.viewHistory();" />
            <label for="userHistoryEndDate">End Date:</label>
            <input type="text" id="userHistoryEndDate" class="datePast" value="$endDateFormatted.strftime('%m/%d/%Y')" onselect="this.value=''" onchange="javascript:Admin.User.viewHistory();" />
            <div id="userHistoryTableSorterWrapper">
                <table class="file_table" id="userHistoryTableSorter" >
                <thead>
                    <tr>
                        <th class="timestampCol pseudoLink">Timestamp</th>
                        <th class="actionCol pseudoLink">Action</th>
                        <th class="detailsCol pseudoLink">Details</th>
                    </tr>
                    <tr>
                        <td colspan="3" class="dotted"></td>
                    </tr>
                </thead>
                <tbody id="userHistory">
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="attributeCreateBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_small">
            <h5>Here you can create a new dynamic attribute definiton. Dynamic attributes are pulled from a directory or other data source and are applied to users at login time, allowing you to share files with users based on information not stored in Filelocker.</h5>
            <form action="" name="form" id="attributeCreateForm">
                <div>
                    <label for="createAttributeId">Attribute Id:</label>
                    <input type="text" name="createAttributeId" id="createAttributeId" size="10" value="" />
                </div>
                <div>
                    <label for="createAttributeName">Attribute Name:</label>
                    <input type="text" name="createAttributeName" id="createAttributeName" size="10" value="" />
                </div>
                <div>
                    <div class="button" id="createAttributeButton"><a href="javascript:Admin.Attribute.create();" title="Create a dynamic attribute" class="saveButton"><span>Create Attribute</span></a></div>
                </div>
                <div class="clear"></div>
            </form>
        </div>
    </div>
</div>

<div id="systemStatisticsBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_large">
            <div id="systemStatistics">
            <ul>
                <li><a href="#hourly">Hourly Trends</a></li>
                <li><a href="#daily">Daily Usage</a></li>
                <li><a href="#monthly">Monthly Usage</a></li>
            </ul>
            <div id="hourly"></div>
            <div id="daily"></div>
            <div id="monthly"></div>
            </div>
        </div>
    </div>
</div>

<div id="fileNotesBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_small">
            <div class="notes_box" id="fileNotes"></div>
            <div class="clear"></div>
        </div>
    </div>
</div>

#if $config['geotagging']
<div id="fileUploadLocationBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_small">
            <div id="map_canvas"></div>
            <a href="" target="_blank" id="mapLink">View in Google Maps</a>
        </div>
    </div>
</div>
#end if

<div id="fileStatisticsBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_large">
            <input type="text" style="width: 0; height: 0; top: -100px; position: absolute;"/><!-- jQuery UI dialogs autofocus to the first element. -->
            <div id="fileStatisticsFilter">
                <label for="totalGraphStartDate">Start Date:</label>
                <input type="text" id="totalGraphStartDate" class="datePast" onchange="viewDownloadStatistics(statFile)" />
                <label for="totalGraphEndDate">End Date:</label>
                <input type="text" id="totalGraphEndDate" class="datePast" onchange="viewDownloadStatistics(statFile)" />
            </div>
            <div id="fileStatistics">
            <ul>
                <li><a href="#totalGraph">Total Downloads (Graph)</a></li>
                <li><a href="#totalTable">Total Downloads (Table)</a></li>
                <li><a href="#uniqueTable">Unique Downloads (Table)</a></li>
            </ul>
            <div id="totalGraph"></div>
            <div id="totalTable"></div>
            <div id="uniqueTable"></div>
            </div>
        </div>
    </div>
</div>

<div id="shareMultiBox" class="hidden"></div>
<div id="viewGroupBox" class="hidden"></div>
<div id="editAccountBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_small">
            <div id="account_sections" style="margin-top: 10px">
                <ul>
                    <li><a href="#accountSettings">Account Settings</a></li>
                    <li><a href="#hiddenShares">Hidden Shares</a></li>
                    <li><a href="#advancedSettings">Filelocker CLI (Advanced Users)</a></li>
                </ul>
                <div id="accountSettings">
                    <form action="" name="generalSettingsForm" id="generalSettingsForm">
                        <div>
                            <label for="userEmail">Update Email Address:</label>
                            <input type="text" name="userEmail" id="userEmail" value="$user.email" />
                        </div>
                        #if $config['auth_type'] == "local"
                        <div>
                            <label for="userPassword">Update Password:</label>
                            <input type="password" name="userPassword" id="userPassword" value="" />
                        </div>
                        <div>
                            <label for="userPasswordConfirm">Confirm Password:</label>
                            <input type="password" name="userPasswordConfirm" id="userPasswordConfirm" value="" />
                        </div>
                        #end if
                        <div>
                            <div class="button" id="updateButton"><a href="javascript:Account.update('$user.id');" title="Save changes to your account settings" class="saveButton"><span>Update Account</span></a></div>
                        </div>
                        <div class="clear"></div>
                    </form>
                </div>
                <div id="hiddenShares">
                    <form action="" name="hiddenSharesForm" id="hiddenSharesForm">
                        <label for="unhideButton">If you have previously hidden Filelocker shares, you can unhide them below.</label>
                        <div>
                            <div class="button" id="unhideButton"><a href="javascript:Share.unhide();" title="Unhide all previously hidden Filelocker shares" class="unhideButton"><span>Unhide All Shares</span></a></div>
                        </div>
                        <div class="clear"></div>
                    </form>
                </div>
                <div id="advancedSettings">
                    <form action="" name="advancedSettingsForm" id="advancedSettingsForm">
                        <div>
                            <table class="file_table" id="CLIKeyTableSorter">
                                <thead>
                                    <tr>
                                        <th class="spacerCol"></th>
                                        <th class="hostIPCol pseudoLink">Host IP</th>
                                        <th class="CLIKeyCol pseudoLink">CLI Key</th>
                                        <th class="CLIActionsCol pseudoLink">Actions</th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="3" class="dotted"></td>
                                    </tr>
                                </thead>
                                <tbody id="CLIKeyTable"></tbody>
                            </table>
                        </div>
                        <div>
                            <label for="CLIKeyHostIP">Host IPv4 or IPv6 address (defaults to current IP):</label>
                            <input type="text" name="CLIKeyHostIP" id="CLIKeyHostIP" value="" onFocus="this.select()" style="width: 275px;"/>
                        </div>
                        <div class="button"><a href="javascript:createCLIKey()" title="Create or regenerate a CLI key for this host" class="createCLIKeyButton"><span>Generate CLI Key</span></a></div><br /><br /><br /><hr />
                        <div>
                            <label for="clientSelector">Alternative clients:</label>
                            <ul id="clientSelector" class="menu">
<!--                                 <li><div class="itemTitleMedium"><a href="${config['root_url']}/download_filelocker_client?platform=windows" title="Download Windows client" class="windows"><span>Download Windows Client</span></a></div></li><br /> -->
<!--                                 <li><div class="itemTitleMedium"><a href="${config['root_url']}/download_filelocker_client?platform=macintosh" title="Download Macintosh client" class="macintosh"><span>Download Macintosh Client</span></a></div></li><br /> -->
                                <li><div class="itemTitleMedium"><a href="${config['root_url']}/download_filelocker_client?platform=cli" title="Download CLI client" class="script"><span>Download CLI Client</span></a></div></li><br />
<!--                                 <li><div class="itemTitleMedium"><a href="${config['root_url']}/download_filelocker_client?platform=ios" title="Download iOS client" class="ios"><span>Download iOS Client</span></a></div></li><br /> -->
<!--                                 <li><div class="itemTitleMedium"><a href="${config['root_url']}/download_filelocker_client?platform=android" title="Download Android client" class="android"><span>Download Android Client</span></a></div></li><br /> -->
                                <li><div class="itemTitleMedium"><a href="javascript:Help.prompt('help_cli');" title="View help article for Filelocker CLI" class="help helpLink"><span>How do I use Filelocker CLI?</span></a></div></li>
                            </ul>
                        </div>
                    </form>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="messagesBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_large">
            <table id="messages">
            <tr>
            <td id="messageControls">
                <div id="message_sections">
                    <ul>
                        <li><a href="#inbox">Inbox</a></li>
                        <li><a href="#sent">Sent</a></li>
                        <span class="buttonNarrow"><a href="javascript:Message.deleteSelected();" title="Delete the selected messages" class="deleteMessagesButtonNarrow"><span class="deleteMessagesButtonNarrow">Delete</span></a></span>
                        <span class="buttonNarrow"><a href="javascript:Message.promptCreate();" title="Create a new Filelocker message" class="messageNewButtonNarrow"><span>New</span></a></span>
                    </ul>
                    <div id="inbox">
                        <table class="file_table" id="messageInboxTableSorter">
                            <thead>
                                <tr>
                                    <th class="selectAllCol"><input type="checkbox" name="selectAllMessageInbox" id="selectAllMessageInbox" onClick="selectAll('messageInbox');"/></th>
                                    <th class="messageSenderCol pseudoLink">Sender</th>
                                    <th class="messageSubjectCol pseudoLink">Subject</th>
                                    <th class="messageDateCol pseudoLink">Date</th>
                                    <th class="messageActionsCol pseudoLink">Actions</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="4" class="dotted"></td>
                                </tr>
                            </thead>
                            <tbody id="messageInboxTable"></tbody>
                        </table>
                        <!--<div id="inboxPager" class="pager">
                            <form>
                                <img src="$config['root_url']/static/images/icons/first.png" class="first"/>
                                <img src="$config['root_url']/static/images/icons/prev.png" class="prev"/>
                                <input type="text" class="pagedisplay" style="width: 60px;"/>
                                <img src="$config['root_url']/static/images/icons/next.png" class="next"/>
                                <img src="$config['root_url']/static/images/icons/last.png" class="last"/>
                                <select class="pagesize" style="width: 60px;">
                                    <option selected="selected" value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option  value="20">20</option>
                                </select>
                            </form>
                        </div>-->
                    </div>
                    <div id="sent">
                        <table class="file_table" id="messageSentTableSorter">
                            <thead>
                                <tr>
                                    <th class="selectAllCol"><input type="checkbox" name="selectAllMessageSent" id="selectAllMessageSent" onClick="selectAll('messageSent');"/></th>
                                    <th class="messageRecipientCol pseudoLink">Recipient</th>
                                    <th class="messageSubjectCol pseudoLink">Subject</th>
                                    <th class="messageDateCol pseudoLink">Date</th>
                                    <th class="messageActionsCol pseudoLink">Actions</th>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="4" class="dotted"></td>
                                </tr>
                            </thead>
                            <tbody id="messageSentTable"></tbody>
                        </table>
                    </div>
                </div>
            </td>
            <td id="messageBodyWrapper">
                <div id="messageSubject"></div>
                <div id="messageBody">
                    <a href="javascript:Help.prompt('help_message');" class="helpLink">Learn more about Filelocker Messaging.</a>
                </div>
            </td>
            </tr>
            </table>
        </div>
    </div>
</div>

<div id="createMessageBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_large">
            <table id="createMessage">
            <tr>
            <td>
                <input type="text" style="width: 0; height: 0; top: -100px; position: absolute;"/><!-- jQuery UI dialogs autofocus to the first element. -->
                #if $AccountController.user_has_permission($user, "expiration_exempt")
                <h4>Expiration date (you are expiration exempt):</h4>
                <input type="text" name="expiration" id="flMessageExpiration" class="dateFuture" value="$defaultExpiration.strftime('%m/%d/%Y')" />
                #else
                <h4>Expiration date:</h4>
                <input type="text" name="expiration" id="flMessageExpiration" class="dateExpire" value="$defaultExpiration.strftime('%m/%d/%Y')" />
                #end if
                <h4>Subject:</h4>
                <input type="text" maxlength="255" id="flMessageSubject" />
                <h4>Body:</h4>
                <textarea name="messageBody" id="flMessageBody" cols="40" rows="7" onKeyUp="javascript:Utility.limitCharacters('messages');"></textarea>
                <div id="messageInfo"></div>
            </td>
            <td id="messages_searchContainer">
            $messageSearchWidget
            </td>
            </tr>
            </table>
        </div>
    </div>
</div>

<div id="helpBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_large">
            <table id="help">
            <tr>
                <td>
                    <table class="file_table" style="width: 180px;">
                        <thead>
                            <tr>
                                <th class="spacerCol"></th>
                                <th class="helpTableOfContentsCol pseudoLink">Topic</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="dotted"></td>
                            </tr>
                        </thead>
                        <tbody id="helpTableOfContents"></tbody>
                    </table>
                </td>
                <td id="helpViewer"></td>
            </tr>
            </table>
        </div>
    </div>
</div>

<div id="bannerBox" class="hidden">
    <div class="popup_wrapper">
        <div class="popup_small">
            <div class="notes_box">$strip_tags($config['banner'])</div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div id="confirmBox" class="hidden">
</div>

<!-- End Lightboxes -->

<div id="footer">$footerText</div>
</div> <!-- End Wrapper All -->
</div> <!-- End Background -->
</body>
</html>