<!--footer area-->

    </div><!--End Wrapper 2 col - Content Area -->
#if $cherrypy.session.has_key("user")
$lightboxen
#end if
<div id="footer">$footerText</div>
</div> <!-- End Wrapper All -->
</div> <!-- End Background -->
</body>
</html>
