<br />
<p>
    Filelocker v$cherrypy.request.app.config['filelocker']['version']
    $currentYear <a href="$cherrypy.request.app.config['filelocker']['root_url']" target="_blank">$cherrypy.request.app.config['filelocker']['org_name']</a>.
</p>