<br />
<p>
    Filelocker v$cherrypy.request.app.config['filelocker']['version']<br />
    &copy; $currentYear. Developed at <a href="http://www.purdue.edu target="_blank">Purdue University</a>. Maintained by Down to the Wire Studios for <a href="$cherrypy.request.app.config['filelocker']['root_url']" target="_blank">$cherrypy.request.app.config['filelocker']['org_name']</a>.
</p>