To: $varDict['recipient']
From: $sender
Reply-to: $varDict['sender']
Subject: $varDict['ownerName'] shared a file with you on Filelocker

$varDict['ownerName'] ($varDict['ownerId']) has shared the following files with you on Filelocker:

#for $flFile in $varDict['sharedFiles']
$flFile.name
#end for

#if $linksObscured
To view and download this file, please copy the following link and paste it into your browser's URL bar, removing any spaces:
#else
To download this file, use the link below:
#end if
    
    $varDict['filelockerURL']/public_download?shareId=$varDict['shareId']

#if $linksObscured
::Why are links made to be non-clickable?::
Clickable links in emails can be unsafe, as they can take you to pages other than what the text of the link suggests. 
Copying the text of a link and pasting it directly into the browser address bar is a more secure way to make sure your browser is going to the page you expect.
#end if