<div id="${context}_sections">
    <ul>
        #if $context == "private_sharing"
            <li><a href="#${context}_users_tab">Users</a></li>
            <li><a href="#${context}_groups_tab">Groups</a></li>
            <li><a href="#${context}_public_tab">Public</a></li>
            #if len($userShareableAttributes) > 0
            <li><a href="#${context}_attributes_tab">Attribute</a></li>
            #end if
        #else if $context == "manage_groups" or $context == "manage_roles"
            <li><a href="#${context}_users_tab">Add Users</a></li>
        #else if $context == "messages"
            <li><a href="#${context}_users_tab">Message Users</a></li>
        #end if
    </ul>
    <div id="${context}_users_tab">
        <div id="${context}_search_userId">
            <h3>Search for Users by ID</h3><br />
        </div>
        <div id="${context}_search_name" class="hidden">
            <h3>Search for Users by Last or Full Name</h3><br />
        </div>
        <div id="${context}_searchTypeChooser">
            <input type="radio" id="${context}_searchUserId" name="searchType" onClick="javascript:Account.Search.toggleType('${context}','userId')" checked="checked" /><label for="${context}_searchUserId" style="width: 91px;">User ID</label>
            <input type="radio" id="${context}_searchName" name="searchType" onClick="javascript:Account.Search.toggleType('${context}','name')" /><label for="${context}_searchName" style="width: 91px;">Name</label>
        </div>
        <div id="${context}_externalSearchSelector" class="hidden">
        #if $config['auth_type'] != "local"
            <br /><h4>Can't find who you're looking for?</h4><input type="checkbox" name="${context}_externalSearch" id="${context}_externalSearch" onclick="javascript:Account.Search.update('${context}');" /><span onclick="javascript:Utility.check('${context}_externalSearch');javascript:Account.Search.update('${context}');">Search the entire $config['org_name'] directory.</span>
        #end if
        </div>
        <div>
            <br />
            <input type="text" name="${context}_searchBox" id="${context}_searchBox" onkeypress="javascript:if (event.which == 13) Account.Search.manual(\$(this).val(), '${context}');"/>
            <a href="javascript:Account.Search.manual(\$('#${context}_searchBox').val(), '${context}');" class="inlineLink"><span class="view">&nbsp;</span></a>
            <br />
        </div>
        <div id="${context}_searchResult" class="hidden"></div>
    </div>
    #if $context != "messages" and $context != "manage_groups" and $context != "manage_roles"
    <div id="${context}_groups_tab">
        <h3>Your Groups</h3><br />
        <ul class="menu">
        #if len($groups) > 0
        #for $group in $groups
            #set $shortenedName = $group.name
            #if $len($group.name) > 25
                #set $shortenedName = $group.name[0:17] + "..." + $group.name[-5:]
            #end if
            <li>
                <span class="itemTitleWide"><span class="groupItem memberTitle groupName" title="$group.name">$shortenedName</span></span>
                #if $context == "private_sharing"
                <a href="javascript:Share.Group.create($group.id)" title="Share file with '$group.name'" class="shareGroup">Share</a>
                #end if
            </li>
        #end for
        #else
            <li>You haven't added any groups yet.</li>
        #end if
        </ul>
        <input type="checkbox" id="${context}_notifyGroup" /><span onclick="javascript:Utility.check('${context}_notifyGroup')">Notify via email</span><br />
        <input type="checkbox" id="${context}_ccGroup" /><span onclick="javascript:Utility.check('${context}_ccGroup')">CC me with notification</span>
    </div>
    #end if
    #if $context != "messages" and $context != "manage_groups" and $context != "manage_roles"
    <div id="${context}_public_tab">
        <form>
            <input type="text" style="width: 0; height: 0; top: -100px; position: absolute;"/><!-- jQuery UI dialogs autofocus to the first element. -->
            <p>By clicking "Share" below, you will make the selected file(s) publicly accessible at the generated URL.</p>
            <div>
                <label for="publicShareExpiration">Expiration date:</label>
                <input type="text" value="" class="dateCustom" id="publicShareExpiration" />
            </div>
            <div>
                <label for="publicShareEmail">Email addresses (comma separated) to be notified about this share:</label>
                <input type="text" name="publicShareEmail" id="publicShareEmail" style="width: 200px;"/>
            </div>
            <div>
                <label for="publicShareMessage">Message to send with the notification:</label>
                <textarea name="publicShareMessage" id="publicShareMessage" style="width: 200px;"></textarea>
            </div>
            <div>
                <label for="publicShareType">Other options:</label>
                <input type="checkbox" id="publicShareType" onclick="javascript:Share.Public.toggleType();" /><span onclick="javascript:Utility.check('publicShareType');javascript:Share.Public.toggleType();">Allow multiple downloads (requires password)?</span>
            </div>
            <div>
                <input type="checkbox" id="publicShareCC" /><span onclick="javascript:Utility.check('publicShareCC');">CC me with notification?</span>
            </div>
            <div>
                <input type="checkbox" id="publicSharePasswordSelector" onclick="javascript:Share.Public.togglePassword();"/><span onclick="javascript:Utility.check('publicSharePasswordSelector');javascript:Share.Public.togglePassword();">Password protect this public share?</span>
                <span id="publicShareSelector" style="display:none">
                    <label for="publicSharePassword">Password:</label>
                    <input type="password" name="publicSharePassword" id="publicSharePassword" />
                    <label for="publicSharePasswordConfirm">Confirm Password:</label>
                    <input type="password" name="publicSharePasswordConfirm" id="publicSharePasswordConfirm" />
                </span>
            </div>
            <div class="button"><a href="javascript:Share.Public.create()" title="Share file(s) publicly" class="shareButton" id="publicShareButton"><span>Share</span></a></div>
            <br />
            <br />
            <br />
        </form>
    </div>
    #end if
    #if $context != "messages" and $context != "manage_groups" and $len($userShareableAttributes) > 0
    <div id="${context}_attributes_tab">
        <h3>Your Attributes</h3><br/>
        <ul class="menu">
        #for $attribute in $userShareableAttributes
            #set $shortenedName = $attribute.name
            #if $len($attribute.name) > 25
                #set $shortenedName = $attribute.name[0:17] + "..." + $attribute.name[-5:]
            #end if
            <li>
                <span class="itemTitleWide"><span class="attributeItem memberTitle attributeName" title="$attribute.name">$shortenedName</span></span>
                #if $context == "private_sharing"
                <a href="javascript:Share.Attribute.create('$attribute.id')" title="Share file with users having the '$attribute.name' attribute" class="shareAttribute">Share</a>
                #end if
            </li>
        #end for
        </ul>
    </div>
    #end if
</div>
<br />
<br />
<br />
<br />