<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Developed at Purdue University, Filelocker allows you to share files with other people both inside and outside of your organization. It is a temporary and secure storage system for sharing files and data."/> 
    <meta name="keywords" content="filelocker, encryption, security application, enterprise, auditing, secure storage, information security, online storage, file sharing, share files, online backup, sharing, collaboration" /> 
    <title>Filelocker</title>
    <link rel="stylesheet" href="$fl.rootURL/css?style=jquery-ui" />
    <link rel="stylesheet" href="$fl.rootURL/css?style=filelocker" />
    <link rel="shortcut icon" href="$fl.rootURL/static/images/favicon.ico" />
    <script type="text/javascript" src="$fl.rootURL/static/js/lib/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="$fl.rootURL/static/js/lib/jquery-ui-1.8.11.js"></script>
    <script type="text/javascript" src="$fl.rootURL/static/js/lib/jquery.tipsy.js"></script>
    <script type="text/javascript" src="$fl.rootURL/static/js/global.js"></script>
    <script type="text/javascript">
        var FILELOCKER_ROOT = "$fl.rootURL";
    </script>
</head>
<body class="greyBackground">

<div id="background">
    <div id="wrapper_all">
        <div id="wrapper_header">
            <div class="logo"><a href="$fl.rootURL"><img src="$fl.rootURL/static/images/logos/filelocker_logo.png" alt="Filelocker" /></a></div>
        </div>
        <div id="wrapper_2col">
            <div id="wrapper_col1">
                <div class="section_title">
                    <h1 class="tos_title">Terms of Service</h1>
                </div>
                <div class="file_list">
                    <p>Filelocker is an open source program created by Purdue University.  Purdue faculty, staff, and students can use Filelocker to conveniently and securely share files with other people both on and off campus.  With Filelocker, largefiles can be shared easily, without having to worry about single email message size quotas.  In order to access the Filelocker application, you must login in with your Purdue Career Account and password.</p>
                    <p>As a Filelocker user, you agree to the following:</p>
                    <div style="margin-left: 40px">
                        <ol>
                            <li>Filelocker is provided by Purdue University as a secure file transfer service.  Purdue University reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Filelocker services (or any part thereof) with or without notice.</li>
                            <li>Filelocker is to be used for secure file transfer and is not a file storage application.  Files stored in Filelocker may be removed at any time.  Files stored in Filelocker are not backed up.</li>
                            <li>Use of Filelocker is subject to all Purdue University policies and procedures, including Purdue University's IT Resource Acceptable Use Policy.  In particular, copyrighted materials may not be shared via Filelocker without permission of the copyright owner.  Users of Filelocker are responsible for all files and content that they transmit while using the service.  Under no circumstances will Purdue University be liable in any way for any files or content transmitted or made available via the Filelocker service.</li>
                        </ol>
                    </div>
                    <p>By clicking the "I Agree" button below, you are stating that you have read and agreed to the Filelocker Terms of Service.  Purdue University reserves the right to deny access to Filelocker to any person who violates the Filelocker Terms of Service.
                    </p>
                </div>
                <div class="button"><a href="$fl.rootURL/sign_tos?action=sign" title="I agree to the terms of service" class="acceptButton"><span>I Agree</span></a></div>
                <div class="link"><a href="$fl.orgURL" title="I do not agree to the terms of service" class="deleteLink">Cancel</a></div>
            </div>
            <div id="wrapper_col2">
                <div class="text_col2">
                    <a href="$fl.orgURL" target="_blank" title="Take me to the $fl.orgName home page"><img src="$fl.rootURL/static/images/logos/logo.gif" alt="$fl.orgName" class="orgLogo" /></a>
                    <img src="$fl.rootURL/static/images/page_elements/horizontal_rule.gif" alt="" class="horizontal_rule" />
                    <p><span class="strong">Filelocker</span> allows you to share files with other people both inside and outside of $fl.orgName. It is a temporary and secure storage system for sharing files and data.</p>
                    <img src="$fl.rootURL/static/images/page_elements/horizontal_rule.gif" alt="" class="horizontal_rule" />
                </div>
            </div>
        </div>
        <div id="footer">$footerText</div>
    </div>
</div>
</body>
</html>