<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FilelockerHost" value=""/>
    <add key="CLIKey" value=""/>
    <add key="User" value=""/>
    <add key="RunOnStartup" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
