<div id="wrapper_col1">
    <div class="section_title">
        <h1 class="files_title">Expired</h1>
    </div>
    <input type="hidden" value="expired" id="sessionState"/>
    <h2 class="errorMessage">Your session has expired. You will be redirected to log back in momentarily...</h2>
</div>
<div id="wrapper_col2">
    <div class="text_col2">
        <a href="$fl.orgURL" target="_blank" title="Take me to the $fl.orgName home page"><img src="$fl.rootURL/static/images/logos/logo.gif" alt="$fl.orgName" class="orgLogo" /></a>
        <img src="$fl.rootURL/static/images/page_elements/horizontal_rule.gif" alt="" class="horizontal_rule" />
    </div>
</div>