<br />
<p>
    Filelocker v$config['version']<br />
    &copy; $currentYear. Developed at <a href="http://www.purdue.edu target="_blank">Purdue University</a>. Maintained by Down to the Wire Studios for <a href="$config['root_url']" target="_blank">$config['org_name']</a>.
</p>