<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Developed at Purdue University, Filelocker allows you to share files with other people both inside and outside of your organization. It is a temporary and secure storage system for sharing files and data."/>
    <meta name="keywords" content="filelocker, encryption, security application, enterprise, auditing, secure storage, information security, online storage, file sharing, share files, online backup, sharing, collaboration" />
    <title>Filelocker</title>
    <link rel="stylesheet" href="$config['root_url']/css?style=filelocker" />
    <link rel="stylesheet" href="$config['root_url']/css?style=jquery-ui" />
    <link rel="shortcut icon" href="$config['root_url']/static/images/favicon.ico" />
    <script>
        function download(fileId)
        {
            window.location.href = window.location.protocol + "//" + window.location.host + "/file/download?fileId=" + fileId + "&_=" + (new Date).getTime();
        }
    </script>
</head>
<body class="greyBackground">
<div id="background">
    <div id="wrapper_all">
        <div id="wrapper_header">
        <div class="logo"><a href="$config['root_url']"><img src="$config['root_url']/static/images/logos/filelocker_logo.png" alt="Filelocker" /></a></div>
    </div>
    <div id="statusMessage" class="ui-widget ui-state-error ui-corner-all hidden"></div>
    <div id="wrapper_2col">